{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Lieu {% endblock %}

{% block body %}
    <div class="nav_right">
        <li><a href="{{ path('lieu_create') }}">Creation Lieu</a></li>
    </div>
    <h2>Listes des lieux</h2>
    <div>
        {% for lieu in lieu %}
            <article>
                <a href="{{ path('lieu_detail', {'id' : lieu.id}) }}" title="{{ lieu.nom }} | {{ lieu.rue }}">{{ lieu.nom }} | {{ lieu.rue }}</a>
            </article>
        {% endfor %}
    </div>

{% endblock %}

