{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Lieu {% endblock %}

{% block body %}


    <div class="container">
        <div class="row">
            <div class="col-9">
                <h2>Liste de lieux de sorties</h2>
                <div>
                    {% for lieu in lieu %}

                        <button type="button" class="btn btn-outline-light mb-1">
                            <a class="navbar-brand" href="{{ path('lieu_detail', {'id' : lieu.id}) }}" title="{{ lieu.nom }} | {{ lieu.rue }}">{{ lieu.nom }} | {{ lieu.rue }}</a>


                        </button>

                    {% endfor %}
                </div>
            </div>
            <div class="col-3">



                <button type="button" class="btn btn-light">
                    <a class="navbar-brand" href="{{ path('lieu_create') }}">Creation Lieu</a>
                </button>

            </div>
        </div>
    </div>


{% endblock %}

