{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Detail profil{% endblock %}

{% block body %}
    <h2>{{ participant.pseudo }}</h2>
    <div>

        <div class="sortie-image">
            <img src="{{ asset('img/photoParticipant/' ~ participant.urlPhoto) }}" alt="{{ participant.urlPhoto }}" width="500">
        </div>

        <h4> Prenom : {{ participant.prenom }}</h4>
        <h4> Nom : {{ participant.nom }}</h4>
        <h4> Téléphone :
            {% if participant.telephone %}
                {{ participant.telephone }}
            {% else %}
                Pas de numéro indiqué
            {% endif %}</h4>
        <h4> Email : {{ participant.email }}</h4>
        <h4> Ville de rattachement : {{ participant.campus.nom }}</h4>
    </div>

{% endblock %}