{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Detail profil{% endblock %}

{% block body %}
    <h2>{{ participant.pseudo }}</h2>
    <div>

        <div class="sortie-image mb-3">
            <img src="{{ asset('img/photoParticipant/' ~ participant.urlPhoto) }}" alt="{{ participant.urlPhoto }}" width="500">
        </div>

        <p> Prenom : {{ participant.prenom }}</p>
        <p> Nom : {{ participant.nom }}</p>
        <p> Téléphone :
            {% if participant.telephone %}
                {{ participant.telephone }}
            {% else %}
                Pas de numéro indiqué
            {% endif %}</p>
        <p> Email : {{ participant.email }}</p>
        <p> Ville de rattachement : {{ participant.campus.nom }}</p>


        <button type="button" class="btn btn-light">
            <a class="navbar-brand" href="{{ path("sortie_list") }}">Retour Liste des sorties
            </a>
        </button>
    </div>

{% endblock %}