{% extends 'base.html.twig' %}

{% block title %} Modification profil{% endblock %}
{% block body %}


    <h3 class="mb-3">Modification profil</h3>

    {# {{  form(participantForm) }} #}

    <div class="sortie-image mb-5 border-3">
        <img src="{{ asset('img/photoParticipant/' ~ participant.urlPhoto) }}" alt="{{ participant.urlPhoto }}" width="500">
    </div>
    <div class="mt-5">
        {{  form_start(participantForm) }}
        {{  form_widget(participantForm) }}
        <button type="button" class="btn btn-lg btn-outline-light mb-1 mt-5">
            Modifier profil
        </button>
        {{  form_end(participantForm) }}


        <button type="button" class="btn btn-sm btn-outline-light mb-1 mt-3">
            <a class="navbar-brand text-primary" href="{{ path('sortie_list') }}">Annuler</a>
        </button>



    </div>
{% endblock %}

{% block extrastyles %}

{% endblock %}