{% extends 'base.html.twig' %}

{% block title %}Nouveau participant{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="mb-5 mt-5" >Nouveau participant</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.pseudo) }}
    {{ form_row(registrationForm.nom) }}
    {{ form_row(registrationForm.prenom) }}
    {{ form_row(registrationForm.telephone) }}
    {{ form_row(registrationForm.campus) }}
    {{ form_row(registrationForm.password, {
        label: 'mot de passe'
    }) }}


    <button type="submit" class="mt-5 btn btn-light">
        Nouveau participant
    </button>
    {{ form_end(registrationForm) }}
{% endblock %}
