{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Annuler Sortie{% endblock %}

{% block body %}
    <h2 class="mb-5 mt-5">Annulation de la sortie</h2>
    <div class="sortie-create col-6 mb-5 mt-5">
        <div class="sortie-column">
            <h4><b>Nom : </b> {{ sortie.nom }}</h4>
            <h4><b>Date de début : </b> {{ sortie.dateDebut|date('d/m/Y') }}</h4>
            <h4><b>Lieu :</b> {{ sortie.lieu.nom }}</h4>
            <h4 class="mb-2"><b>Ville : </b> {{ sortie.lieu.ville.nom }}</h4>
            {{ form_start(annulerForm) }}
            <div class="form_widget">
                {{ form_widget(annulerForm) }}
                <button type="button" class="btn btn-lg btn-outline-light mb-3 mt-5">Enregistrer</button>
                {{ form_end(annulerForm) }}
            </div>
        </div>

        <button type="button" class="btn btn-light">
            <a class="navbar-brand" href="{{ path('sortie_list') }}">Retour</a>
        </button>
    </div>
{% endblock %}