{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Création Sortie{% endblock %}

{% block body %}
    <h2>Création d'une nouvelle sortie</h2>
    <div class="sortie-create">
        <div class="sortie-column">
            {{ form_start(sortieForm) }}
            {{ form_widget(sortieForm) }}
                <button type="submit" class="btn btn-lg btn-outline-light mb-1 mt-3">
                    Valider</button>
            {{ form_end(sortieForm) }}
        </div>
    </div>
<a href="{{ path('sortie_list') }}">

<button>Enregistrer</button>
</a>
<a href="{{ path('sortie_list') }}">

<button>Publier la sortie</button>
</a>
    <a href="{{ path('sortie_list') }}">
        <button>Annuler</button>
    </a>
{% endblock %}