{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Création Sortie{% endblock %}

{% block body %}
    <h2>Création d'une nouvelle sortie</h2>
    <div class="sortie-create">
        <div class="sortie-column">
            {{ form_start(sortieForm) }}
            {{ form_widget(sortieForm) }}
            <button type="submit" class="btn btn-lg btn-outline-light mb-1 mt-3">
                Publier
            </button>
            <button type="button" class="btn btn-lg btn-outline-light mb-1 mt-3">
                <a class="text-decoration-none" href="{{ path('sortie_list') }}">
                    Enregistrer</a></button>
            <button type="button" class="btn btn-lg btn-outline-light mb-1 mt-3 ">
                <a class="text-decoration-none" href="{{ path('sortie_list') }}">
                    Annuler</a></button>
            {{ form_end(sortieForm) }}


        </div>
    </div>

{% endblock %}