{% extends '/base.html.twig' %}

{% block title %} {{ parent() }} | Liste des Sorties{% endblock %}

{% block body %}

    <h3>Bienvenue {{  participant.prenom}} {{  participant.nom}}</h3>
    <p>Nous sommes le : {{ "now"|date("m/d/Y") }}</p>
    <div class="nav_right">

        <li><a href="{{ path('sortie_create') }}">Creation Sortie</a></li>

    </div>
<div class="search">
    <h2>Filtrer les sorties </h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit"> Recherche! </button>
        {{ form_end(form) }}
</div>

{#<div class="table-header">
    <thead>

            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Cloture</th>
                <th>Inscrits / Places</th>
                <th>Etat </th>
                <th>Inscrit</th>

            </tr>
    </thead>
</div>#}
<h2>Listes des sorties</h2>
    <div class="sortie-detail">
        {% for sortie in sorties %}
            <article>
                <a href="{{ path('sortie_detail', {'id' : sortie.id}) }}" title="{{ sortie.nom }} | {{ sortie.description }}">
                    <img src="{{ asset('img/photoVisite/' ~ sortie.urlPhoto) }}" alt="{{ sortie.nom }} | {{ sortie.description }}" width="200">
                </a>
            </article>
        {% endfor %}
    </div>
{% endblock %}