{% extends '/base.html.twig' %}

{% block title %} {{ parent() }} | Liste des Sorties{% endblock %}



{% block body %}

    <h3>Bienvenue {{ participant.prenom }} {{ participant.nom }}</h3>
    <p>Nous sommes le : {{ "now"|date("m/d/Y") }}</p>
    <div class="nav_right">

        <li><a href="{{ path('sortie_create') }}">Creation Sortie</a></li>

    </div>
    <div class="search">
        <h2>Filtrer les sorties </h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit"> Recherche!</button>
        {{ form_end(form) }}
    </div>
    <table>
        <div class="table-header">
            <thead>

            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Cloture</th>
                <th>Inscrits / Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>

            </tr>
            </thead>

        </div>
        <div class="table-body">
            <tbody>
            {% for sortie in sorties %}



                <tr class="uneSortie">
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateDebut|date('d-m-Y H:m') }}</td>
                    <td>{{ sortie.dateFin|date('d-m-Y H:m') }}</td>
                    <td id="inscription-{{ sortie.id }}"> {{ sortie.participants|length }}
                        / {{ sortie.nbInscriptionsMax }}</td>
                    <td> {{ sortie.etat.libelle }}</td>
                    <td id="estInscrit-{{ sortie.id }}">
                        {% if participant in sortie.participants %}
                            x
                        {% endif %}
                    </td>
                    <td>
                        {% if sortie.organisateur %}
                            <a href="{{ path('participant_detail',{id : sortie.organisateur.id}) }}">
                                {{ sortie.organisateur.nom ~ " " ~ sortie.organisateur.prenom }}
                            </a>
                        {% else %}
                            Admin
                        {% endif %}
                    </td>
                    <td><a href="{{ path('sortie_detail',{id : sortie.id}) }}">
                            <button>Afficher</button>
                        </a></td>
                    {% if  "now"|date('d-m-Y') <= sortie.dateFin|date('d-m-Y')
                        and sortie.etat.libelle == "Ouverte" %}
                        <td>
                            <a href="{{ path('sortie_ajax_inscription') }}"
                            >
                                <button class="btn-inscire">
                                    <input type="hidden" class="sortieID" value="{{ sortie.id }}">
                                    <input type="hidden" class="participantID" value="{{ participant.id }}">

{#                                    {% if participant in sortie.participants %}#}
{#                                        Desister#}
{#                                    {% else %}#}
                                        S'inscrire/ Desister
{#                                    {% endif %}#}

                                </button>
                            </a>
                        </td>
                    {% endif %}

                </tr>

            {% endfor %}
            </tbody>

        </div>
    </table>
{% endblock %}
{% block script %}
    <script>
    const inscriptionBtnURL = "{{ path('sortie_ajax_inscription') }}";
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="{{ asset('js/ajax.js') }}"></script>
{% endblock %}
