{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="search">
<h2>Filtrer les sorties </h2>
{{ form_start(form) }}
{{ form_widget(form) }}
        <button type="submit"> Recherche! </button>
{{ form_end(form) }}

    </div>
<h1>Here is the list</h1>
<table>

<div class="table-header">
    <thead>

            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Cloture</th>
                <th>Inscrits / Places</th>
                <th>Etat </th>

            </tr>
    </thead>

    </div>
    {% for sortie in sorties %}

        <div class="table-body">
    <tbody>

            <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateDebut|date('d-m-Y H:m') }}</td>
                    <td>{{ sortie.dateFin|date('d-m-Y H:m') }}</td>
                    <td> 0 / {{ sortie.nbInscriptionsMax }}</td>
                    <td> {{ sortie.etat.libelle }}</td>


             </tr>

    </tbody>

        </div>
        </table>
    {% endfor %}
{% endblock %}
