{% extends '/base.html.twig' %}

{% block title %} {{ parent() }} | Accueil{% endblock %}

{% block body %}

<div class="search_sortie_bloc">
    {{ form_start(form) }}
    <div class="sortie_div">
        <div>
            {{ form_row(form.campus) }}
            {{ form_row(form.q) }}
            {{ form_row(form.premierDate) }}
            {{ form_row(form.deuxiemeDate) }}
        </div>
        <div>
            {{ form_row(form.sortiePassee) }}
            {{ form_row(form.inscrit) }}
            {{ form_row(form.nonInscrit) }}
            <button type="submit">Recherche!</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>

    <h2 class="h2_grille">Listes des sorties</h2>
    <div class="grille">
        {% for sortie in sorties %}
            <div class="grid-item">
            <article>
                <a href="{{ path('sortie_detail', {'id' : sortie.id}) }}" title="{{ sortie.nom }} | {{ sortie.description }}">
                    <img src="{{ asset('img/photoVisite/' ~ sortie.urlPhoto) }}" alt="{{ sortie.nom }} | {{ sortie.description }}" width="267">
                </a>
            </article>
            </div>
        {% endfor %}
    </div>
{% endblock %}