<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {# favicon #}
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo&family=Montserrat&display=swap" rel="stylesheet"> <title>{% block title %}Bucket List {% endblock %} - Welcome!</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    {% endblock %}
</head>


<body>
{% include 'menu/nav.html.twig' %}
{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
{% block body %}{% endblock %}

</body>

{% include 'menu/footer.html.twig' %}
</html>
