<nav>
{#    <ul>#}
{#        <li><a href="{{ path('main_home') }}"> <img src="{{ asset('img/logo.png') }}" alt="Bucket List !"></a></li>#}
{#        <li><a href="{{ path('main_about') }}">About Us</a></li>#}
{#        <li><a href="{{ path('wish_list') }}">Wish List</a></li>#}
{#        {% if app.user %}#}
{#            <li><a href="{{ path('wish_make') }}">Make A Wish</a></li>#}
{#            <li><a href="{{ path('app_logout') }}">Logout</a></li>#}

{#        {% else %}#}
{#            <li><a href="{{ path('app_register') }}">Create an account</a></li>#}
{#            <li><a href="{{ path('app_login') }}">Login</a></li>#}
{#        {% endif %}#}
{#    </ul>#}
</nav>
