<nav>
    <ul>
        <li><a href="{{ path('accueil_list') }}">Accueil</a></li>
        {% if app.user %}
            <li><a href="{{ path('lieu_list') }}">Lieu</a></li>
            <li><a href="{{ path('sortie_list') }}">Sortie</a></li>
            {% if is_granted("ROLE_ORGA") %}
                <li><a href="{{ path('sortie_create') }}">Nouvelle Sortie</a></li>
                {% if is_granted("IS_ADMIN") %}
                    <li><a href="{{ path('campus_list') }}">Campus</a></li>
                    <li><a href="{{ path('ville_list') }}">Ville</a></li>
                {% endif %}
            {% endif %}
        {% endif %}
            <div class="nav_right">
                <li><a href="{{ path('app_login') }}">Connection</a></li>
                    {% if is_granted("IS_ADMIN") %}
                        <li><a href="{{ path('app_register') }}">Inscription Utilisateur</a></li>
                    {% endif %}
                {% if app.user %}
                    <li><a href="{{ path('app_register') }}">Mon Profil</a></li>
                    <li><a href="{{ path('app_logout') }}">Déconnection</a></li>
                {% endif %}
            </div>
    </ul>
</nav>
