<nav>
    <ul>
        <li><a href="{{ path('sortie_list') }}">Accueil</a></li>
        <li><a href="{{ path('campus_list') }}">Campus</a></li>
        <li><a href="{{ path('lieu_list') }}">Lieu</a></li>
        <li><a href="{{ path('sortie_list') }}">Sortie</a></li>
        <li><a href="{{ path('ville_list') }}">Ville</a></li>
        <div class="nav_right">
            <li><a href="{{ path('app_login') }}">Connection</a></li>

            <li><a href="{{ path('app_register') }}">Inscription Utilisateur</a></li>


            <li><a href="{{ path('app_register') }}">Mon Profil</a></li>
            <li><a href="{{ path('app_logout') }}">Déconnection</a></li>

        </div>
    </ul>
</nav>
